.footer{
    height: 30px;
    background-color: rgb(157,161,161);
    padding: 35px;
    margin-top: calc(100vh-85px);
    justify-content: space-between;
    /* margin-top: 20vh; */
    color: #ffffff;
}
.footer span{
    margin: 10px;
}
